---
global:
  scrape_interval: 40s
  evaluation_interval: 40s
  scrape_timeout: 35s
  external_labels:
    monitor: 'Alertmanager'

rule_files:
  - 'alert.rules'

scrape_configs:
  - job_name: 'node_exporter_teewinot'
    scrape_interval: 5s
    static_configs:
          - targets: ['100.76.102.59:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'teewinot'

  - job_name: 'node_exporter_pi4'
    static_configs:
          - targets: ['100.80.254.59:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'pi4'

  - job_name: 'node_exporter_ironfist'
    static_configs:
          - targets: ['100.93.82.123:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'ironfist'

  - job_name: 'node_exporter_gopher'
    static_configs:
          - targets: ['100.85.32.58:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'gopher'

  - job_name: 'node_exporter_pi3'
    static_configs:
          - targets: ['100.115.153.45:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'pi3'

  - job_name: 'node_exporter_teton'
    static_configs:
      - targets: ['100.71.191.27:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'teton'

  - job_name: 'node_exporter_gabi'
    static_configs:
      - targets: ['100.111.16.85:9100']
    metric_relabel_configs:
          - source_labels: [ instance ]
            target_label: instance
            action: replace
            replacement: 'gabi'

# END node exporters

  - job_name: 'speedtest'
    metrics_path: /metrics
    scrape_interval: {{ monitoring_speedtest_interval }}
    scrape_timeout: 60s  # running speedtest needs time to complete
    static_configs:
      - targets: ['speedtest:9798']

  - job_name: 'ping'
    metrics_path: /probe
    scrape_interval: {{ monitoring_ping_interval }}
    params:
      module: [http_2xx]  # Look for a HTTP 200 response.
    file_sd_configs:
      - files:
          - pinghosts.yaml
    relabel_configs:
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # first is the url, thus unique for instance
        target_label: instance
        replacement: $1
      - source_labels: [__address__]
        regex: '(.*);(.*)'  # second is humanname to use in charts
        target_label: humanname
        replacement: $2
      - source_labels: [instance]
        target_label: __param_target
      - target_label: __address__
        replacement: ping:9115  # The blackbox exporter's real hostname:port.


